#home-main {
    background-color: inherit;
    width: 85%;
    padding-top: 11rem;
}

html, body {
    background-color: #333;
}

.main-list {
    border-radius: 1rem;
    height: 20rem;
    margin-bottom: 10%;
}
