body {
    background-color: #333;
}

#home-main {
    width: 85%;
    margin-top: 11rem;
}

.homelist-container {
    height: 23rem;
    border-radius: 1rem;
    margin-bottom: 10rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: .25rem 1rem .25rem 1rem;
}

.homelist {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.homelist-item {
    height: 22rem;
    width: 15.25rem;
    border-radius: .5rem;
    overflow: hidden;
    flex: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.homelist-thumbnail {
    height: 16rem;
    border-radius: .5rem .5rem 0 0;
}

.homelist-infobox {
    height: 6rem;
    width: 11.25rem;
    background-color: #333;
    border-radius: 0 0 .5rem .5rem;
}

.homelist-link {
    width: 5rem;
}

#search-main {
    width: 85%;
    margin-top: 11rem;
}

.thumbnail {
    height: 20rem;
    width: 14rem;
    border-radius: .5rem;
    overflow: hidden;
}

.full-list-item {
    border-radius: 1rem;
    overflow-x: auto;
}

.info-column {
    max-height: 20rem;
    min-width: 10rem;
    max-width: 20rem;
    overflow-y: auto;
}

.info-item {
    width: 100%;
}

.show-link, .watchlist-button {
    width: 5.6rem;
}

.watchlist-button {
    width: 5.6rem;
    margin-right: 1.4rem;
}

.show-link {
    width: 5.6rem;
    margin-left: 1.4rem;
}

.controls {
    max-width: 14rem;
}

#watchlist-main {
    width: 85%;
    margin-top: 11rem;
}
